In [2]:
import pandas as pd
data = pd.read_csv(r'C:\Users\01din\PycharmProjects\thesis\data\evaluations\evaluations.csv')

In [8]:
data['result'] = data['result'].map({'Yes': 1, 'No': 0})

grouped_data = data.groupby('source')['result'].mean()

sorted_data = grouped_data.sort_values(ascending=False)

Issue is that analogy only provided 2 subs while others did 5

In [9]:
sorted_data

source
analogy    0.80
gpt4       0.72
bert       0.64
Name: result, dtype: float64

In [10]:
shortened_data = data.groupby(['id', 'source']).head(2)
shortened_data = shortened_data.reset_index(drop=True)

grouped_shortened_data = shortened_data.groupby('source')['result'].mean()

sorted_shortened_data = grouped_shortened_data.sort_values(ascending=False)

In [11]:
sorted_shortened_data

source
analogy    0.80
gpt4       0.75
bert       0.65
Name: result, dtype: float64

In [3]:
from scipy.stats import chi2_contingency

observed = [[243, 277], [40, 72]]

chi2, p, dof, expected = chi2_contingency(observed)

print(f"p-value: {p}")

p-value: 0.043180869204962544

In [4]:
val_results = pd.read_csv(r'C:\Users\01din\PycharmProjects\thesis\data\survey_results\val_results.csv', header=None)

In [21]:
val_results

,0,1,2,3,4,5,6,7,8,9,...,510,511,512,513,514,515,516,517,518,519
0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,...,No,No,No,No,No,No,No,No,No,Yes
1,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN
4,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,...,No,No,No,No,No,No,No,No,No,Yes

In [22]:
from sklearn.metrics import cohen_kappa_score
mapping = {'Yes': 1, 'No': 0}

rater1 = val_results.loc[0].map(mapping).values
rater2 = val_results.loc[4].map(mapping).values

kappa = cohen_kappa_score(rater1, rater2)
print('Cohen\'s kappa:', kappa)

Cohen's kappa: 0.8673449481534837

In [14]:
import numpy as np
def calc_mode(row):
    modes = row.mode(dropna=True)  #Calculate mode while ignoring NaN
    if len(modes) > 1:  #For ties return NaN
        return np.nan
    else:
        return modes[0]

modes = val_results.apply(calc_mode)

In [19]:
modes

0      Yes
1      Yes
2      Yes
3      Yes
4      Yes
      ...
515     No
516     No
517     No
518     No
519    Yes
Length: 520, dtype: object

In [17]:
modes.value_counts()

No     277
Yes    230
dtype: int64